body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  color: #738f93;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.img-home {
  width: 500px;
  padding: 50px;
}

.btn-search {
  background-color: #3db8e9;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(45, 227, 233, 0.5);
  font-size: 18.005px;
  padding-left: 1.528em;
  padding-right: 1.528em;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 2.778em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.btn-search:hover {
  background-color: #ffffff;
  border: 1px solid #3db8e9;
  color: #3db8e9;
}

.characters {
  padding: 20px;
}

.characters h1 {
  margin-top: 0;
}

.container-characters {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  padding-bottom: 50px;
  position: relative;
}

.character-container {
  display: flex;
  background: #3c3e44;
  margin: 20px 10px;
  border-radius: 10px;
  align-items: flex-start;
  padding: 10px;
}

.character-container h3 {
  margin: 20px 0;
  text-align: center;
}

.character-container h6 {
  margin-top: 0px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
}

.character-container .gender-symbol {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 0.5rem;
  text-align: center;
}

.character-container .female::before {
  content: '\2640'; /* Símbolo de femenino */
  font-size:x-large;
  padding-right: 10px;
  
}

.character-container .male::before {
  content: '\2642'; /* Símbolo de masculino */
  font-size:x-large;
  padding-right: 10px;
}

.character-container .unknown::before {
  content: '\003F'; /* Símbolo de género desconocido */
  font-size:x-large;
  padding-right: 10px;
}

.filmsList
{
  font-size: small;
}

.character-container div:first-child {
  height: 100%;
}
.character-container div:last-child {
  text-align: left;
  padding-left: 20px;
}

.character-container div:last-child p {
  text-align: left;
}

.character-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.character-container p {
  font-size: 17px;
  text-align: center;
  margin: 5px 0;
}

.text-grey {
  color: #9e9e9e;
}

.back-home {
  background-color: #f0f0f0; 
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #333; 
  padding: 8px 16px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.back-home:hover {
  background-color: #afabab; 
  border-color: #999; 
  color: #222; 
}

.back {
  background-color: #f0f0f0; 
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #333; 
  padding: 8px 18px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.back:hover {
  background-color: #afabab; 
  border-color: #999; 
  color: #222; 
}

.fav-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  float: right; /* Para alinear a la derecha */
  margin-right: 10px; /* Espacio a la derecha */
  transition: color 0.3s ease;
}


.film-fav-button {
  background-color: #585858; 
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ffffff; 
  padding: 8px 18px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.film-fav-button:hover {
  background-color: #f8f8f8; 
  border-color: #999; 
  color: #585858; 
}


.films-button {
  padding: 10px 80px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.films-button:hover {
  background-color: #0056b3;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

ul {
  padding: 10px 30px;
  margin: 0;
}

/* Estilos para cada elemento de la lista */
li {
  font-size: 16px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}


@media (max-width: 768px) {
  .characters {
    padding: 0 20px;
  }

  .container-characters {
    display: table-cell;
  }

  .character-container {
    width: auto;
  }

  .character-container {
    margin: 10px 0;
  }

  .character-container img {
    width: 150px;
  }
}